
* {
  box-sizing: border-box;
}

!DOCTYPE HTML PUBLIC
{
  background-color: white
}

html1
{
  background-color: white
}

html {
  height:100%;
  font-family: "Roboto", "Helevetica Neue", Helvetica, Arial, sans-serif;
  background-color: white
}

h12
{
  background-color: white
}

ppp
{background-color: white}

body
{
  background-color: white
}

htitresessions
{
  font-size: 45px;
  font-weight: bold;
  color: black;
  margin: 15;
  text-transform: uppercase;
  background-color: white
}

zpoeirghpzeirugtbaperiugperiuyg
{
  background-color: white
}


header
{
  background-color: white
}

head
{
  background-color: white
}

h2
{
  font-size: 12px;
  font-weight:  unset;
}

h3 {
  font-size: 15px;
  font-weight: bold;
  color: #555555;
  margin: 0;
}

h4
{
  background-color: white
}

#bars
{
  margin: 0px;
  color: #555555;
  font-size: 0px;
  font-weight: bold;
  padding: 5px 10px 0px 10px;
  background: white;
  border-radius: 0px;
  box-shadow: 0 0px 0px rgba(0,0,0,0.07),
    0 0px 0px rgba(0,0,0,0.09),
    0 0px 0px rgba(0,0,0,0.09),
    0 8px 16px rgba(0,0,0,0.09),
    0 1000px 1000px rgba(0,0,0,0.09),
    0 2px 0px rgba(0,0,0,0.09);
  animation: 600ms cubic-bezier(0.0, 0.0, 0.0, 9) fadeThrough;
}

#info {
  margin: 0px;
  color: #555555;
  font-size: 0px;
  font-weight: bold;
  padding: 0px 0px 0px 0px;
  background: white;
  box-shadow: 0 0px 0px rgba(0,0,0,0.07),
    0 0px 0px rgba(0,0,0,0.09),
    0 0px 0px rgba(0,0,0,0.09),
    0 8px 16px rgba(0,0,0,0.09),
    0 16px 32px rgba(0,0,0,0.09),
    0 2px 0px rgba(0,0,0,0.09);
  animation: 600ms cubic-bezier(0.0, 0.0, 0.0, 7) fadeThrough;
}

#errorMsg {
  padding: 8px 0px;
  color: #B94A48;
  background-color: #F2DEDE;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

<iframe src="file:///C:/Users/Sunswip/OneDrive/Bureau/Nouveau%20dossier/programe/.html/virus.kill%20(killerbone)/Head.html" seamless></iframe>
iframe[seamless]{
border: none;}

zobirpo {
  .
  .
  .
  .
  .
}